body {
  font-family: Arial, Helvetica, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1557FF;
  color: white;
}

input[type=text], input[type=password], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button, input[type=submit] {
  background-color: #1557FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1557FF;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h2.capitalize {
  text-transform: capitalize;
  padding: 30px 0;
  margin: auto 0;
}

h1.centered{
  cursor: pointer;
  text-align: center;
}

.logout {
  height: max-content;
  text-align: center;
  text-decoration: none;
  border: 1000px;
  background-color: #cb3318;
  border-radius: 5px;
  color: white;
  padding: 10px;
  float: right;
}

.signup {
  height: max-content;
  text-align: center;
  text-decoration: none;
  border: 1000px;
  background-color: #4949eb;
  border-radius: 5px;
  color: white;
  padding: 10px;
  float: center;
}

.signup-form {
  float: center;
}

.login-form {
  float: center;
  text-align: center;
}

.gohome {
  background-color: #5c5c6b;
  color: white;
  float: right;
  text-align: center;
  text-decoration: none;
}

.app {
  min-width: 600px;
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 3em;
  padding: 30px 0;
  margin: auto 0;
  text-align: center;
}